<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Planetst List</title>
</head>
<body>
<h1>Planets List</h1>

    <p>Mercury: Closest to the sun</p>
    <p>Venus: Second planet from the sun</p>
    <p>Earth: Third planet from the sun</p>
    <a href="/mars" >Mars: Fourth planet from the sun</a>
    <p>Jupiter: Fifth planet from the sun</p>
    <p>Saturn: Sixth planet from the sun</p>
    <p>Uranus: Seventh planet from the sun</p>
    <p>Neptune: Farthest planet from the sun</p>

</body>
</html>